@font-face {
  font-family: "Philosopher";
  src: url(./font/Philosopher-Regular.ttf);
}
@font-face {
  font-family: "Arcane";
  src: url(./font/Arcane\ Nine.otf);
}
/* @media(prefers-reduced-motion){
  .hidden, .hiddenX, .hiddenY, .hiddenXRight {
    transition: none;
  }
} */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-size: 1.2em;
  font-family: "Arcane";
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: rgb(19, 19, 20);
  height: 100vh;
}
hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* HEADER */

li, li a {
  font-family: "Arcane";
  font-weight: 500;
  font-size: 1.2em;
  color: white;
  padding: 20px;
}
button {
  font-family: "Arcane";
  font-weight: 500;
  font-size: 1.2em;
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2.5%;
  background-color: rgb(19, 19, 20);
  height: 48px;
}
.logo {
  cursor: pointer;
  width: 8%;
}
.navlinks li {
  display: inline-block;
  /* padding: 20px; */
  font-size: 0.6em;
  border-radius: 10px;
}
.navlinks a li {
  transition: all 0.3s ease 0s;
}
.navlinks li:hover {
  background-color:rgba(255, 255, 255, 0.2);
}
button {
  padding: 1rem 2rem;
  font-size: 0.6em;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  color: rgb(19, 19, 20);
  background-color: #BA8A63;
}

/* FOOTER */

footer p {
  padding: 32px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(19, 19, 20);
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ACCUEIL */

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./img/arcane.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.affiche {
  height: 100vh;
  background-image: url(img/arcaneaccueil.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.arcane {
  filter: drop-shadow(0 0 0.8rem rgb(136, 108, 85));
  width: 25rem;
  padding: 0.5em;
  background-color: rgba(136, 108, 85, 0.05);
  border-radius: 0.5em;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1.5s;
}
p.synopsis{
  padding: 1%;
  font-size: 0.6em;
  max-width: 1080px;
  color: #f3dbc8;
  text-align: justify;
  text-align-last: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5em;
}

/* MODAL VIDEO */

.modal-btn{
  margin-top: 1.5em;
  font-size: 0.5em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2em;
  border: 4px solid #f3dbc8;
  color: #f3dbc8;
}
.modal-container{
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}
.modal-container.active{
  visibility: visible;
}
.overlay{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay{
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
.modal{
  opacity: 0;
  filter: drop-shadow(0 0 0.8rem rgb(0, 0, 0, 0.5));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;
}
.modal-container.active .modal{
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}
.close-modal{
  opacity: 0;
  border: 0.1em solid white;
  padding: 0.4em 0.8em;
  border-radius: 50%;
  font-size: 0.6em;
  position: absolute;
  top: 9%;
  right: 7.5%;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}
.modal-container.active .close-modal{
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}
.close-modal:focus{
  color: rgb(19, 19, 20);
  background-color: #BA8A63;
}


/* ACTUALITÉS */

.counter {
  position: relative;
  top: -30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  filter: drop-shadow(0 0 0.5rem rgb(165, 185, 182));
}
.counter p {
  font-family: 'Arcane';
  color: rgba(226, 243, 240, 0.9);
  filter: drop-shadow(0 0 0.2rem rgb(165, 185, 182));
}
.box p {
  color: rgba(226, 243, 240, 0.9);
  filter: drop-shadow(0 0 0.2rem rgb(165, 185, 182));
  font-size: 0.8rem;
}
.temps {
  display: flex;
}
.box {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box span {
  font-size: 3rem;
  font-family: 'Arcane';
  color: rgba(226, 243, 240, 0.9);
  filter: drop-shadow(0 0 0.2rem rgb(165, 185, 182));
}
.box .deuxpointsD p, .box .deuxpointsH p, .box .deuxpointsM p {
  position: absolute;
  font-size: 3rem;
  padding-left: 1rem;
}
.box .deuxpointsD p {
  top: 43.5%;
  left: 20%;
}
.box .deuxpointsH p {
  top: 43.5%;
  left: 43%;
}
.box .deuxpointsM p {
  top: 43.5%;
  left: 69.3%;
}
iframe {
  width: 70rem;
  height: 35.625rem;
}
.modal-btn2{
  position: absolute;
  top: 32%;
  font-size: 0.5em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2em;
  border: 4px solid rgba(226, 243, 240, 0.9);
  color: rgba(226, 243, 240, 0.9);
  filter: drop-shadow(0 0 0.2rem rgb(165, 185, 182));
}

/* RÉGIONS */

section.pilto-png {
  background-image: url(img/piltoverfront.png);
  background-position: center;
  background-size: cover;
}
.pilto-bg, .zaun-bg {
  position: relative;
  height: 55.813rem;
  width: 100%;
}
.pilto-bg::before {
  content: "";
  position: absolute  ;
  height: 100%;
  width: 100%;
  background-image: url(img/piltover.jpg);
  background-position: center;
  background-size: cover;
  z-index: -2;
}
.pilto-text {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(4rem, 10vw + 0.5rem, 6rem);
  font-weight: 900;
  color: #BA8A63;
  filter: drop-shadow(0 0 0.8rem rgb(243, 201, 166));
  text-shadow: -1px 0px 0px white,
  1px 0px 0px white,
  0px -1px 0px white,
  0px 1px 0px white;
  z-index: -1;
}
section.zaun-bg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(img/zaun.jpg);
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.zaun-text {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(4rem, 10vw + 0.5rem, 6rem);
  font-weight: 900;
  color: #BA8A63;
  filter: drop-shadow(0 0 0.8rem rgb(243, 201, 166));
  text-shadow: -1px 0px 0px white,
  1px 0px 0px white,
  0px -1px 0px white,
  0px 1px 0px white;
  z-index: 2;
}

/* PERSOS */

button svg {
  width: 24px; /* Largeur de l'icône */
  height: 24px; /* Hauteur de l'icône */
  margin-right: 5px; /* Marge à droite de l'icône */
}
ul.visible {
  display: none; /* Masquer le menu par défaut */
}
ul.visible li {
  padding: 5px 0; /* Espacement entre les éléments de la liste */
}
ul.visible li a {
  color: white; /* Couleur du texte des liens */
  text-decoration: none; /* Supprimer la soulignement des liens */
}
ul.visible.open {
  display: block; /* Afficher le menu */
}
.links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 2s;
}
.links a{
  transition: background-color 2s ease;
  
}
.links a:hover {
  background-color: #f0f0f0;
}
.jinximgC, .viimgC, .silcoimgC {
  border-radius: 30px;
  width: 22rem;
}
.jinximg, .viimg, .silcoimg {
  border-radius: 30px;
  width: 27rem;
}
.container_jinx, .container_silco {
  padding: 64px;
  display: grid;
  grid-template-columns: 60% 40%;
}
.container_vi {
  padding: 64px;
  display: grid;
  grid-template-columns: 40% 60%;
}
.item-texte {
  padding: 0 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
.item-img {
  padding: 0 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 800ms;
}
.item-img:hover {
  transition: 500ms;
  scale: 1.05;
}
.anim-img{
  transition: 800ms;
}
.anim-img:hover {
  transition: 500ms;
  scale: 1.05;
}
h1.titre {
  font-size: 4em;
  color: white;
  transition: 800ms;
}
.titre-jinx:hover, .titre-vi:hover, .titre-silco:hover {
  transition: 500ms;
  scale: 1.05;
}
.titre-jinx {
  filter: drop-shadow(0 0 0.8rem #4E7988);
}
.titre-vi {
  filter: drop-shadow(0 0 0.8rem #B62842);
}
.titre-silco {
  filter: drop-shadow(0 0 0.8rem #779C49);
}
p.texte {
  font-size: 0.8em;
  color: white;
  text-align: justify;
  text-align-last: center;
  width: 90%;
}
.art {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.art h1 {
  padding: 1.875rem;
  color: white;
}
.resize {
  padding: 1rem;
  width: 62.5rem;
}
/* ANIMATION TRANSITION*/
.hiddenX {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-20%);
  transition: all 1s;
}
.hiddenXRight {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(20%);
  transition: all 1s;
}
.hiddenY {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-20%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transform: translateY(0);
}
.carousel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.perso:nth-child(2) {
  transition-delay: 200ms;
}
.perso:nth-child(3) {
  transition-delay: 400ms;
}
.perso:nth-child(4) {
  transition-delay: 600ms;
}

/* FORMULAIRE CONNEXION INSCRIPTION*/

.form-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  scale: 0.7;
}
.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  background-color: rgb(32, 32, 34);
  border: 0.5rem solid white;
  border-radius: 2rem;
}
form {
  padding: 1rem 1rem 0.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inscription {
  height: 60rem;
  margin: 4rem;
}
.inscription legend {
  font-size: 0.7em;
  font-weight: 600;
}
legend {
  font-size: 0.7em;
  font-weight: 600;
}
.inscription label, .inscription fieldset a {
  font-size: 0.4em;
}
.inscription button.log { font-size: 0.6em; }
label, fieldset a, button.log {
  font-size: 0.5em;
}
button.log {
  margin-top: 1rem;
}
legend, label {
  padding: 0.5rem;
}
fieldset a {
  padding: 0.5rem;
}
button.inscri {
  margin-top: 2rem;
}
legend, label, fieldset a {
  text-align: center;
  color: white;
}
fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border: none;
}
.inscription input {
  font-size: 0.4em;
  width: 25rem;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
input {
  font-size: 0.4em;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 1280px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.session {
  color: white;
  padding: 1rem 0 0;
  font-size: 0.5em;
}